* {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.5s linear;
}

body {
  margin: 0;
  padding: 0;
  z-index: 1000;
  background: hsl(0, 0%, 95%);
}

html {
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*==================== media queries =================*/

@media (max-width: 991px) {

  .header {
    padding: 1.5rem;
  }

  
.login {
  margin-top: 4rem;
}

}

@media (max-width: 888px) {
  
  .footer-box:nth-child(3){
    margin: 1.2rem 0rem;
  }

}


@media (max-width: 768px) {

  .bars {
    display: block;
  }

  .nav {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: hsl(0, 0%, 17%);
  }

  .nav a{
    border: .1rem solid hsl(0, 3%, 69%);
    width: 95%;
    text-align: center;
    padding: 1.5rem;
    border-left: .3rem solid hsl(120, 97%, 30%);
    border-radius: .5rem;
    margin: 1rem 0rem;
    color: #fff !important;

  }

  
.hide {
  transform: translateX(-100%);
}
  
}

@media (max-width: 574px) {
  
  .login{
    width: 80%;
    margin-top: -3rem;
  }
  html{
    font-size: 70%;
  }

}


@media (max-width: 450px) {
  
  html{
    font-size: 70%;
  }
  
}

