.box-container{
    margin-top: 8rem;
    text-align: center;
    padding: 2rem 8%;
}

.box-container h3{
    font-size: 2.2rem;
}

.spoon{
    color: green;
    font-size: 1.5rem;
}

.box-container .box-container-inner{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.box-container-inner .box{
    flex: 1 1 20rem;
    height: 15rem;
    position: relative;
    margin-bottom: 8rem;
}

.box-container-inner .box .price{
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
}


.box-container-inner .box .price span{
    color: #fff;
    background: green;
    padding: .8rem;
    font-size: 1.3rem;
    border-radius: 50%;
}

.box-container-inner .box h6{
    font-size: 1.5rem;
    margin: -.2rem 0rem;
}

.box-container-inner .box img{
    width: 100%;
    height: 100%;
    margin-bottom: 1.2rem !important;
    cursor: pointer;
}

.burner{
    display: flex;
    align-items: center;
    padding: 1.5rem 5%;
    background: linear-gradient(180deg, hsl(120, 79%, 81%), #fff);
    flex-wrap: wrap;

}

.burner .burner-right img{
    width: 100%;
    height: 100%;
}

.burner-inner p{
    line-height: 1.5;
}

.burner-inner h4{
    color: #333;
    font-size: 2rem;
}

.burner-inner p{
    color: #333f;
    font-size: 1.2rem;
}

.burner-inner{
    flex: 1 1 28rem;
}

.burner-right{
    flex: 1 1 28rem;
}